@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* COLORS */
:root {
  --color-background: #f0f2f5;
  --dark-background: #252b42;
  --color-text: #363f5f;
  --color-title: #363f5f;
  --color-shape: #ffffff;
  --color-red: #e52e4d;
  --color-green: #33cc95;
  --color-blue: #5429cc;
  --color-blue-light: #6933ff;
  --primary-color: #23a6f0;
  --secondary-color: #ffa900;
  --secondary-color-1: #23856d;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-gray-1: #fafafa;
  --light-gray-2: #ececec;
  --muted-color: #bdbdbd;
}

* {
  font-family: "Montserrat";
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  background-color: var(--color-shape);
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.slide-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.slide-list {
  display: flex;
}

.slide-item {
  cursor: grab;
  flex-shrink: 0;

  padding: 0;
  width: 100%;
}

.slide-content {
  height: 100%;
  border-radius: 16px;
  position: relative;
}

.slide-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slide-description {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 100%;
  gap: 16px;
}

.slide-description h3 {
  background-color: transparent;
  color: #ffffff;
  font-size: 40px;
  position: relative;
}

.slide-description p {
  color: #ffffff;
  font-weight: 200;
  background-color: transparent;
  /* font-size: 24px; */
}

.slide-description button {
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.slide-description button:hover {
  background-color: var(--secondary-color);
}

.slide-nav-button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  z-index: 1;
}

.slide-nav-previous {
  left: 20px;
}

.slide-nav-next {
  right: 20px;
}

.slide-controls {
  margin: 8px;
}

.slide-control-button {
  width: 24px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 32px;
  margin: 0 1px;
}

.slide-control-button.active {
  color: #fefefe;
}

/* MENU */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  margin: 0 2rem;

  .logo {
    p {
      font-size: 24px;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: var(--text-color);
    }
  }

  nav {
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        padding: 0 16px;
        cursor: pointer;

        a {
          font-weight: bold;
          text-decoration: none;

          color: var(--second-text-color);
        }
      }
    }
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    padding: none;
    border-radius: 16px;
    cursor: pointer;

    img {
      padding-right: 16px;
    }

    p {
      font-size: 14px;
      padding-left: 100;
      font-weight: bold;
      color: var(--primary-color);
    }
  }
}

.carousel-item {
  img {
    width: 100%;
    height: 100%;
  }
}

#categories {
  background-color: var(--light-gray-1);
  display: flex;
  padding: 44px;
  justify-content: center;
  .container {
    max-width: 330px;
    margin: 16px;
    background-color: var(--color-shape);
    transition: transform 0.3s ease;
    border: 1px solid --light-gray-2;
    border-radius: 8px;
    padding: 16px;
    align-items: center;
    display: flex;
    .tag {
      p {
        font-size: 14px;
        font-weight: bold;
        color: var(--second-text-color);
      }
    }
    .title {
      h3 {
        font-size: 24px;
        font-weight: bold;
        color: var(--text-color);
      }
    }
    .subtitle {
      p {
        font-size: 12px;
        font-weight: normal;
        color: var(---text-color);
      }
    }

    img {
      width: 100%;
    }
  }
  .container:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

#store {
  padding: 32px 160px;
  display: flex;
  /* align-items: start; */
  .banner {
    flex: 1;
    img {
      padding: 0px;
      width: 389px;
      height: auto;
    }
  }
  .container {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 0px;
    .menu {
      border-bottom: 2px solid var(--light-gray-2);
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 0 16px;
          cursor: pointer;
          a {
            font-weight: bold;
            text-decoration: none;
            color: var(--second-text-color);
          }
          a:hover {
            color: var(--primary-color);
          }
        }
      }

      .controllers {
        display: flex;
        direction: ltr;
        gap: 8px;
        button {
          margin: 0px;
          border-radius: 50%;
          img {
            padding: 0px;
            background-color: transparent;
          }
        }

        button:hover {
          background-color: var(--light-gray-2);
        }
      }
    }
    .products {
      padding: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-items: center;
      justify-content: space-around;

      .item {
        justify-content: center;
        img {
          width: 200px;
          height: 200px;
          object-fit: contain;
        }
        .item_bio {
          justify-content: center;
          justify-items: center;
        }
      }
    }
  }
}

#store2 {
  padding: 32px 160px;
  display: flex;
  .banner {
    flex: 1;
    img {
      padding: 0px;
      width: 389px;
      height: auto;
    }
  }
  .container {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 0px;
    .menu {
      border-bottom: 2px solid var(--light-gray-2);
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 0 16px;
          cursor: pointer;
          a {
            font-weight: bold;
            text-decoration: none;
            color: var(--second-text-color);
          }
          a:hover {
            color: var(--primary-color);
          }
        }
      }

      .controllers {
        display: flex;
        direction: ltr;
        gap: 8px;
        button {
          margin: 0px;
          border-radius: 50%;
          img {
            padding: 0px;
            background-color: transparent;
          }
        }

        button:hover {
          background-color: var(--light-gray-2);
        }
      }
    }
    .products {
      padding: 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-items: center;
      justify-content: space-around;

      .item {
        justify-content: center;
        img {
          width: 200px;
          height: 200px;
          object-fit: contain;
        }
        .item_bio {
          justify-content: center;
          justify-items: center;
        }
      }
    }
  }
}

.blog {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 160px;

  .banner {
    flex: 3;
    img {
      padding: 0px;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .sale {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--light-gray-1);
    align-items: center;
    justify-items: center;
    flex: 2;

    h3 {
      font-size: 24px;
      font-weight: bold;
      color: var(--text-color);
      background-color: transparent;
    }

    #description {
      text-align: center;
      font-weight: normal;
      color: var(--second-text-color);
      background-color: transparent;
    }
    img {
      background-color: transparent;
    }

    #name {
      font-weight: bold;
      color: var(--text-color);
      background-color: transparent;
    }

    .prices {
      display: flex;
      direction: row;
      gap: 8px;
      background-color: transparent;
      #old {
        font-weight: bold;
        color: var(--muted-color);
        background-color: transparent;
      }
      #new {
        font-weight: bold;
        color: var(--secondary-color-1);
        background-color: transparent;
      }
    }
  }
}

.blog2 {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 160px;

  .banner {
    flex: 3;
    img {
      padding: 0px;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .sale {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: var(--light-gray-1);
    align-items: center;
    justify-items: center;
    flex: 2;

    h3 {
      font-size: 24px;
      font-weight: bold;
      color: var(--text-color);
      background-color: transparent;
    }

    #description {
      text-align: center;
      font-weight: normal;
      color: var(--second-text-color);
      background-color: transparent;
    }
    img {
      background-color: transparent;
    }

    #name {
      font-weight: bold;
      color: var(--text-color);
      background-color: transparent;
    }

    .prices {
      display: flex;
      direction: row;
      gap: 8px;
      background-color: transparent;
      #old {
        font-weight: bold;
        color: var(--muted-color);
        background-color: transparent;
      }
      #new {
        font-weight: bold;
        color: var(--secondary-color-1);
        background-color: transparent;
      }
    }
  }
}

.info {
  padding: 32px 160px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    padding: 16px;
    justify-items: center;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    #index {
      font-size: 40px;
      font-weight: bold;
      color: var(--color-red);
    }
    .texts {
      gap: 4px;
      display: flex;
      flex-direction: column;
      #title {
        margin: 0px;
        font-weight: bold;
        color: var(--text-color);
      }
      #description {
        margin: 0px;
        font-size: 12px;
        font-weight: normal;
        color: var(--second-text-color);
      }
    }
  }
}

#bestseller {
  padding: 32px 160px;
  .title {
    border-bottom: 2px solid var(--light-gray-2);
    h3 {
      font-weight: bold;
      color: var(--text-color);
      background-color: transparent;
    }
  }

  .products_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    justify-items: center;

    img {
      width: 200px;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .prices {
        display: flex;
        direction: row;
        gap: 8px;
        background-color: transparent;
        #old {
          font-weight: bold;
          color: var(--muted-color);
          background-color: transparent;
        }
        #new {
          font-weight: bold;
          color: var(--secondary-color-1);
          background-color: transparent;
        }
      }
      h3 {
        font-weight: bold;
        color: var(--text-color);
        background-color: transparent;
      }
      #subtitle {
        font-weight: normal;
        color: var(--second-text-color);
        background-color: transparent;
      }
    }
  }
}

#social_media {
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 160px;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
}

.posts_intro {
  padding: 32px 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  p {
    color: var(--primary-color);
    font-weight: bold;
  }

  h2 {
    color: var(--text-color);
    font-weight: 40px;
  }
}

.posts {
  padding: 32px 160px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  gap: 16px;

  .post {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* padding: 16px; */
    max-width: 300px;
    nav {
      align-items: start;
      justify-items: start;
      justify-content: start;
      ul {
        padding-inline-start: 0px;
        align-items: start;
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 8px;
        li {
          a {
            color: var(--second-text-color);
            text-decoration: none;
            font-size: 14px;
          }
          a:hover {
            color: var(--primary-color);
          }
        }
      }
    }
    .bio {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      h4 {
        font-weight: normal;
        font-size: 20px;
        color: var(--text-color);
      }
      p {
        font-weight: normal;
        font-size: 14px;
        color: var(--second-text-color);
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding-inline-start: 0px;
        gap: 8px;
        li {
          display: flex;
          flex-direction: row;
          gap: 8px;
          img {
            width: 16px;
          }
        }
      }
      button {
        width: max-content;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        border: none;
        border-radius: 8px;
        gap: 8px;
        padding: 8px;
        cursor: pointer;
        align-items: center;
        p {
          display: flex;
          background-color: transparent;
          flex-wrap: nowrap;
          color: var(--second-text-color);
          font-weight: bold;
        }
        img {
          background-color: transparent;
          padding: 0px;
          width: 8px;
        }
      }
      button:hover {
        background-color: var(--light-gray-2);
      }
    }
  }
}

footer {
  padding: 32px 160px;
  background-color: var(--dark-background);
  display: flex;
  flex-direction: column;
  gap: 96px;

  h3 {
    background-color: transparent;
    color: white;
    padding: 8px 0px;
  }
  p {
    background-color: transparent;
    color: white;
  }
  section {
    background-color: transparent;
  }
  ul {
    padding: 0px;
    background-color: transparent;
    list-style: none;
    li {
      background-color: transparent;

      padding: 8px 0;
      a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
      p {
        font-weight: bold;
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .texts {
      display: flex;
      flex-direction: column;
    }
    button {
      background-color: var(--primary-color);
      border: none;
      padding: 16px 24px;
      border-radius: 4px;
      cursor: pointer;
      p {
        color: white;
        font-weight: bold;
      }
    }
    button:hover {
      background-color: var(--secondary-color);
    }
  }

  .body {
    background-color: transparent;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
  }

  .getIn {
    ul {
      li {
        gap: 16px;
        align-items: center;
        display: flex;
        flex-direction: row;
        img {
          background-color: transparent;
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
      #facebook_mobile {
        display: none;
      }
      #insta_red {
        display: none;
      }
      #youtube {
        display: none;
      }
      li {
        padding: 8px;
        a {
          img {
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 0 0;

    .logo {
      p {
        font-size: 24px;
      }
    }

    nav {
      display: none;

      ul > li {
        display: none;
      }
    }

    .actions {
      button {
        border: none;
        padding: none;
        border-radius: 8px;
        cursor: pointer;

        img {
          padding: 0;
          height: 24px;
        }

        p {
          font-size: 14px;
          padding-left: 100;
          font-weight: bold;
          color: var(--primary-color);
        }
      }
      .login_btn {
        display: none;
      }
      .favorits_btn {
        display: none;
      }
    }
  }

  #categories {
    display: block;
    padding: 32px 16px;
    .container {
      padding: 24px;
      max-width: 100%;
      margin: 8px;
      justify-content: space-around;

      img {
        width: 160px;
      }
    }
  }

  #store {
    padding: 48px 8px;
    flex-direction: column;
    .banner {
      img {
        width: 100%;
        height: auto;
      }
    }
    .container {
      .menu {
        display: flex;
        flex-direction: column;

        ul {
          padding: 16px;
          margin: 16px 8px;
        }
        .controllers {
          button {
            margin: 8px 4px;
            img {
              padding: 0px;
            }
          }
        }
      }

      .products {
        flex-direction: column;
        margin: 8px;
        justify-content: center;
        gap: 96px;

        .item {
          margin: 0px;
          justify-content: center;
          img {
            width: 100%;
            height: auto;
          }
          .item_bio {
            justify-content: center;
            justify-items: center;
          }
        }
      }
    }
  }

  #store2 {
    padding: 48px 8px;
    flex-direction: column-reverse;
    .banner {
      img {
        width: 100%;
        height: auto;
      }
    }
    .container {
      .menu {
        display: flex;
        flex-direction: column;

        ul {
          padding: 16px;
          margin: 16px 8px;
        }
        .controllers {
          button {
            margin: 8px 4px;
            img {
              padding: 0px;
            }
          }
        }
      }

      .products {
        flex-direction: column;
        margin: 8px;
        justify-content: center;
        gap: 96px;

        .item {
          margin: 0px;
          justify-content: center;
          img {
            width: 100%;
            height: auto;
          }
          .item_bio {
            justify-content: center;
            justify-items: center;
          }
        }
      }
    }
  }

  .blog {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0px;

    .banner {
      flex: 1;
      img {
        padding: 0px;
        width: 100%;
        height: 500px;
      }
    }
    .sale {
      background-color: var(--light-gray-1);
      flex: 1;
    }
  }
  .blog2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    padding: 8px;

    .banner {
      flex: 1;
      img {
        padding: 0px;
        width: 100%;
        height: 500px;
      }
    }
    .sale {
      background-color: var(--light-gray-1);
      flex: 1;
    }
  }

  .info {
    padding: 24px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .item {
      padding: 8px;
      max-width: none;
      .texts {
        #description {
          font-size: 16px;
        }
      }
    }
  }

  #bestseller {
    padding: 24px 8px;

    .title {
      justify-items: center;

      h3 {
        text-align: center;
      }
    }

    .products_list {
      flex-direction: column;
      gap: 16px;
      justify-items: center;

      img {
        width: 200px;
      }
    }
  }

  #social_media {
    padding: 16px;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 0;

      li {
        margin: 24px 0;

        img {
          margin: 0;
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

  footer {
    padding: 48px;
    background-color: var(--dark-background);
    display: flex;
    flex-direction: column;

    h3 {
      background-color: transparent;
      color: white;
      padding: 16px 0px;
    }
    p {
      background-color: transparent;
      color: white;
    }
    section {
      background-color: transparent;
    }
    ul {
      padding: 0px;
      background-color: transparent;
      list-style: none;
      li {
        background-color: transparent;

        padding: 8px 0;
        a {
          background-color: transparent;
          text-decoration: none;
          color: white;
        }
      }
    }

    .intro {
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 40px;
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
    }

    .contact {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 8px;
      ul {
        display: flex;
        flex-direction: row;
        #insta {
          display: none;
        }
        #facebook_web {
          display: none;
        }
        #facebook_mobile {
          display: flex;
        }
        #insta_red {
          display: flex;
        }
        #youtube {
          display: flex;
        }
      }
    }
  }

  .posts_intro {
    padding: 24px;
    h2 {
      text-align: center;
    }
  }

  .posts {
    flex-direction: column;
    padding: 16px;
    padding-bottom: 64px;
    gap: 24px;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .slide-image {
    object-fit: cover;
  }

  .slide-description {
    padding: 10px;
  }

  .slide-description h3 {
    font-size: 24px;
  }

  .slide-nav-button {
    font-size: 28px;
  }

  .slide-nav-previous {
    left: 10px;
  }

  .slide-nav-next {
    right: 10px;
  }

  .slide-controls {
    margin: 15px auto 0;
  }

  .slide-control-button {
    font-size: 14px;
  }
}
